<!DOCTYPE html>
<html>
    <head>
        <title>Reddit Clone - By Manuel Stoilov</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Index Page!</h1>
    </body>
</html>