#nav1 {
    height: 65px;
    background-color: cornflowerblue;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:3px !important; 
    padding-bottom:4px !important;
    height: 26px;
    margin-top: -2px;
}
.navbar {min-height:20px !important;}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 11px;
}

.navbar-default .navbar-brand {
    color: #333;
    position: relative;
    bottom: 12px;
}

#vetaLogo {
    font-family: 'Audiowide', cursive;
}

.subDiv {
    background-color: cornflowerblue;
}

.form-control {
    height: auto;
    width: 400px;
    margin: 0 auto;
}

#formStuff {
    display: table;
    width: 450px;
    text-align: center;
    padding: 15px;
    position: absolute;
    right: 1%;
    top: 15%;
    border: 1px solid cornflowerblue;
}

.vote {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

img {
    height: 70px;
    float: left;
    margin-right: 15px;
    margin-top: 1%;
}

.panel-default {
    width: 63%;
}